<ng-container *ngIf="currencyRates$ | async as currencyRates">
  <p-table [value]="currencyRates[0].rates">
    <ng-template pTemplate="header">
      <tr>
        <th>Symbol waluty</th>
        <th>Waluta</th>
        <th>Kurs waluty</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-currencyRate>
      <tr>
        <td>{{ currencyRate.code }}</td>
        <td>{{ currencyRate.currency }}</td>
        <td>{{ currencyRate.mid }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
